<? xml version = "1.0" encoding = "utf-8"?> 
<configuração> 
<system.webServer> 
<urlCompression doDynamicCompression = "true" doStaticCompression = "true" dynamicCompressionBeforeCache = "true" /> 
<staticContent> 
<remover o arquivoExtension = ". Svg" /> 
<mimeMap fileExtension = ". Svg" mimeType = "imagem / svg + xml" /> 
<mimeMap fileExtension = ". Woff" mimeType = "aplicativo / font-woff" /> 
<clientCache httpExpires = " Dom, 29 Mar 2020 00:00:00 GMT" cacheControlMode ="UseExpires "/> 
</staticContent> 
<httpProtocol> 
<customHeaders> 
<nome add ="valor de segurança de transporte rigoroso = " max-age = "31536000; includeSubDomains "/> 
<
<add name = "valor de Access-Control-Allow-Headers" = "X-Requested-With, Content-Type" /> 
<add name = "valor de Access-Control-Allow-Methods" = "POST, GET, OPTIONS, DELETE, PUT, PATCH "/> 
</customHeaders> 
</httpProtocol> 
<reescrita> 
<regras> 
<nome da regra = "Laravel5 " stopProcessing =" true "> 
<match url = "^" ignoreCase ="false "/> 
<conditions logicalGrouping = "MatchAll"> 
<adicionar entrada = "{REQUEST_FILENAME}" matchType="IsDirectory" negate = "true" /> 
<adicionar entrada = "{REQUEST_FILENAME}" matchType = "IsFile" negate = "true" /> 
</conditions> 
<action type = "Reescreva" url = "index.php" appendQueryString = "true" /> 
</rule> 
</rules> 
</reescrever> 
</system.webServer>
</configuration>